/* Write your CSS here */
.check-out-container {
  display: flex;
  justify-content: flex-end;
}

.total-price-heading {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #616e7c;
}
.total-price {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 800;
  color: #171f46;
}

.check-out {
  background-color: #0b69ff;
  font-size: 14px;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border-width: 0px;
}

.total-items {
  font-size: 17px;
  color: #616e7c;
  font-family: 'Roboto';
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .popup-overlay {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
}
